# Entornos virtuales
venv/
.venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Reportes y evidencias generadas
reports/*.html
reports/screenshots/*.png
reports/logs/*.log

# Archivos del sistema/editor
.DS_Store
.vscode/
.idea/
